body {
  padding-top: 70px; }

.icon-bar {
  background-color: #FFF; }

@media (min-width: 768px) {
  #section * {
    padding-right: 1%;
    margin-left: 1%; } }
#navbar {
  background-color: #6B85D8; }
  #navbar a {
    color: #fff; }
    #navbar a:hover {
      color: #f2f2f2; }
  #navbar .active a {
    color: #fff;
    background-color: #7991db; }

#footer {
  background-color: #fff; }

#section {
  background-color: #FFF0F0;
  padding-top: 1%;
  padding-bottom: 1%;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}
#container {
  background-color: #6b85d8;
  position: relative;
  padding-top: 1%;
  padding-bottom: 1%;
}
@media (min-width: 777px) {
#container img {
  margin-left: 30%;
  height: 40%;
  width: 40%;
}
}