.container#footer
		.row
			hr
			.col-lg-12
				.col-md-8
					a(href="http://www.facebook.com/thefedorahat") Contate-me
					span  | 
					a(href="#!") Em breve
				.col-md-4
					p.muted.pull-right 2016, Fortaleza