.navbar.navbar-default.navbar-fixed-top#navbar(role="navigation")
	.container-fluid
		.navbar-header
			button(type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false").navbar-toggle.collapsed
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a(href="index.html").navbar-brand FedoraHat
		.collapse.navbar-collapse#navbar-collapse
			ul.nav.navbar-nav.navbar-right
				li.active
					a(href="#") Posts
				li
					a(href="#") Portfólio
				li
					a(href="#") Sobre